<ion-content>
  <ion-grid *ngIf="!isLoading && clases.length > 0">
    <ion-row>
      <ion-col size="12">
        <ion-card *ngFor="let clase of clases">
          <ion-card-header>
            <ion-card-title>{{ clase.nombre }}</ion-card-title>
            <ion-card-subtitle>Código: {{ clase.codigo }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Horario:</strong> {{ clase.horario.join(', ') }}</p>
            <p><strong>Profesor:</strong> {{ clase.profesorNombre }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!isLoading && clases.length === 0" class="ion-text-center">
    <ion-text color="medium">No se encontraron clases.</ion-text>
  </div>

  <ion-spinner *ngIf="isLoading" class="ion-margin"></ion-spinner>
</ion-content>
